:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*padding 이나 margin을 줬을 때 포함해서 사이즈가 결정되도록*/
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto;
  background-color: #f8f8f8;
}

header .nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

header .nav ul li {
  padding-right: 30px;
}

section .name {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 60px;
  letter-spacing: 25px;
  font-weight: bold;
  font-family: arial black;
}

section .para {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid black;
  margin-top: 180px;
}
section .para p {
  width: 780px;
  line-height: 155%;
  font-size: 17px;
  letter-spacing: 2px;
}
section .para .bold {
  font-weight: normal;
  font-family: arial black;
}

section .para .add {
  font-size: 14px;
}

section .para .add a:hover {
  color: blue;
}
